* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 300;
    
}
h1 {
    font-family: 'Teko', sans-serif;
    color: #fff;
}
header {
    width: 100%;
    height: 100px;
    background-color: #ff6347;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

/* container  */
.container {
    max-width: 940px;
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

/* section calculator */
.border{
    border: 2px solid #ff6347;
    border-radius: 6px;
    max-width: 50%;
    padding: 50px 20px;
    margin-bottom: 30px;
}
.entry-field {
    border: 3px solid #db5841;
    width: 70%;
    padding: 10px 25px;
    outline: none;
	box-sizing: border-box;
	caret-color: #695151;
    letter-spacing: 1px;
    margin-bottom: 25px;
    color: #878181;
    font-size: 22px;
    font-weight: 700;
}
#calculator {
    width: 40%;
    text-align: center;
}
#results {
    text-align: center;
    width: 40%;
}
#results h2:first-child {
    margin-bottom: 10px;
    color: #726f6f;
}
 /* btn  */
.btn { 
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: #ff6347;
    border: none;
}
.btn:hover {
    cursor: pointer;
    background-color: rgb(247, 71, 40);
}
